{% extends "base.html" %}

{% block content %}
<h2 data-translate="{{ category.name }}">{{ category.name }}</h2>
<div class="category-content">
    <p data-translate="{{ category.description }}">{{ category.description }}</p>
    {% if category.image %}
    <img src="{{ category.image }}" alt="{{ category.name }}">
    {% endif %}
    <h3 data-translate="Unterkategorien">Unterkategorien:</h3>
    <ul>
        {% for subcategory in category.subcategories %}
        <li>
            <a href="{{ url_for('subcategory', category_id=category.id, subcategory_id=subcategory.id) }}" data-translate="{{ subcategory.name }}">{{ subcategory.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

